body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  height: 100%;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%; /* Adjusted for more width */
  margin: 30px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 60px);
}

.spacer {
  flex-grow: 1; /* Take up the remaining space */
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: flex-start;
  flex: 1;
  margin-right: 20px;
  height: 100%;
}

.dashboard-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #45a049;
}

.graph-container {
  flex: 4; /* Adjusted for more width */
  height: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout-button {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.logout-button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.logout-button:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.logout-button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
